token            = "yourtoken"
cloud_id         = "yourcloud"
folder_id        = "yourfolder"
zone             = "ru-central1-a"
public_key_path  = "yourpublic"
private_key_path = "yourprivate"
image_id         = "yourimage"
subnet_id        = "yoursubnet"
network_id       = "yournetwork"
