token            = "yourtoken"
cloud_id         = "yourcloud"
folder_id        = "yourfolder"
zone             = "ru-central1-a"
public_key_path  = "yourpublic"
private_key_path = "yourprivate"
image_id         = "fd8k6joqhuk8ts8eb1ao"
subnet_id        = "yoursubnet"
vm_name          = "yourvm"
